.PageSection {
  position: relative;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.PageSection > div {
  padding: 16px;
  width: 100%;
  max-width: 1024px;
}

.PageSection h2 {
  margin-bottom: 16px;
}

.PageSection:nth-child(odd) {
  background-color: #f8f8f8;
}

.PageSection li {
  margin-left: 16px;
}


