.App {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: stretch;
}

.App main {
  position: absolute;
  top: 48px;
  left: 0;
  right: 0;
  bottom: 0;
  height: calc(100vh - 48px);
  overflow-y: auto;
}